.help .overlay {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: beige;
  z-index:1;
  display: none;
}

.help .content {
  position: fixed;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: beige;
  width: 500px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.help.active .overlay {
  display: block;
}

.help.active .content {
  /* transition: all 300ms ease-in-out; */
  transform: translate(-50%,-50%) scale(1);
}