.overlay {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index:1;
  display: none;
}

.popup .content {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  width: 300px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

#invalid-pop .content, #congrats-pop .content, #fail-pop .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

#invalid-pop .content p {
  font-size: 16px;
  width: 90%;
}

#invalid-pop .content ion-icon {
  font-size: 30px;
}

#invalid-pop .close-btn, #congrats-pop .close-btn, #fail-pop .close-btn, #cheese-pop .close-btn {
  right: 5px;
  top: 5px;
}

#cheese-pop .content {
  top: 30%;
  padding: 10px;
  background-color: beige;
  
}

#cheese-pop .content p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
  margin-left: 5px;
}

#cheese-pop .content h3 {
  margin-top: 10px;
}