.overlay {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index:1;
  display: none;
}

.popup .content {
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  width: 300px;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
}

.popup.active .overlay {
  display: block;
}

.popup.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

#invalid-pop .content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
}

#invalid-pop .content p {
  font-size: 16px;
  width: 90%;
}

#invalid-pop .content ion-icon {
  font-size: 30px;
}

#invalid-pop .close-btn {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  color: #000;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}