.stats .overlay {
  position:fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.7);
  z-index:1;
  display: none;
}

.stats .content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  background: #fff;
  max-width: 450px;
  width: 90%;
  z-index: 2;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

.stats.active .overlay {
  display: block;
}

.stats.active .content {
  transition: all 300ms ease-in-out;
  transform: translate(-50%,-50%) scale(1);
}

.dist #bar {
  width: 100%;
  height: 18px;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: right;
  min-width: 15px;
}

.dist.one #bar {
  width: 70%;
}

.dist.two #bar {
  
  width: 0%;
}

.dist {
  display: flex;
  align-items: center;
}

.dist p {
  min-width: 25px;
  margin: 2px 0 2px 0;
  font-size: 14px;
}

#distribution-container {
  padding: 0 30px 0 30px;
}

.stats h3 {
  text-align: left;
  margin-left: 25px;
  margin-bottom: 5px;
}

.dist #bar p {
  min-width: 15px;
}