html, body {
  overflow: hidden;
  font-family: "Poppins";
}

body {
  background-color: beige;
  margin: 0px;
}

/* Styling for header elements */
header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

h1 {
  font-family: 'Rubik Microbe', cursive;
  font-size: 37px;
  color: rgb(221, 178, 61);
  margin: 0px;
}


header p {
  margin: auto;
  font-size: 24px;
  color: black;
}

header p:hover {
  color: rgb(221, 178, 61);
  cursor: pointer;
}

header ion-icon {
  margin-top: 6px;
}

/* Body */
.game-container {
  display: block;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cheese-image {
  width: 494px;
  height: 250px;
  border: 3px solid black;
  background-position: center;
  background-size: cover;
  margin: 5px;
  margin-bottom: 0px;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  width: 500px;
  height: 220px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

#grid-container p {
  margin: 0px;
}

#result-1, #result-2, #result-3, #result-4, #result-5, #result-6 {
  border-radius: 5px;
  background-color: rgb(221, 178, 61);
  opacity: 50%;
  
} 

#result-1 {
  grid-column: 1 / span 7;
  grid-row: 1;
  
}

#result-2 {
  grid-column: 1 / span 7;
  grid-row: 2;
}

#result-3 {
  grid-column: 1 / span 7;
  grid-row: 3;
}

#result-4 {
  grid-column: 1 / span 7;
  grid-row: 4;
}

#result-5 {
  grid-column: 1 / span 7;
  grid-row: 5;
}

#result-6 {
  grid-column: 1 / span 7;
  grid-row: 6;
}

.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
}

#guess-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#guess-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#correct-cheese-container {
  display: none;
  justify-content: center;
  align-items: center;
}

#correct-cheese {
  background-color: black;
  color: white;
  height: 32.5px;
  margin: 0 5px 0 5px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}


#share-button {
  display: none;
  justify-content: center;
  align-items: center;
}

#share {
  margin: 5px 5px 0 5px;
  width: 500px;
  background-color: green;
  border: 3px solid rgba(221, 178, 61, 0.5);
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-weight: 600;
}

#share:hover {
  background-color: rgb(0, 161, 0);
  cursor: pointer;
}

#share:active {
  background-color: green;
}

#button, #cheese-choice, #share, .correct-cheese {
  padding: 0px;
  height: 32.5px;
  font-size: 16px;
  font-family: "Poppins";
}

#cheese-choice {
  width: 491px;
  margin: 0px 5px 0 5px;
  font-size: 16px;
  padding-left: 5px;
  text-align: left;
}

#button {
  margin: 5px 5px 0 5px;
  width: 500px;
  background-color: white;
  border: 1px solid black;
}

#button:hover {
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

#button:active {
  background-color: rgb(223, 223, 223);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: #222;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

/* Styling for hidden results bars */

.word.active, .world.active, .mold.active, .animal.active, .type.active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  border: 2px solid red;
}

.word, .mold, .animal, .type, .world {
  color: black;
  display: none;
  border-radius: 5px;
  background: rgba(221, 178, 61, 0.5);
}

#grid-container i {
  color: red;
}

.word.one {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.world.one {
  grid-column: 4 / span 1;
  grid-row: 1;
}

.mold.one {
  grid-column: 5 / span 1;
  grid-row: 1;
}

.animal.one {
  grid-column: 6 / span 1;
  grid-row: 1;
}

.type.one {
  grid-column: 7 / span 1;
  grid-row: 1;
}

/* Result 2 */
.word.two {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.world.two {
  grid-column: 4 / span 1;
  grid-row: 2;
}

.mold.two {
  grid-column: 5 / span 1;
  grid-row: 2;
}

.animal.two {
  grid-column: 6 / span 1;
  grid-row: 2;
}

.type.two {
  grid-column: 7 / span 1;
  grid-row: 2;
}

/* Result 3 */
.word.three {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.world.three {
  grid-column: 4 / span 1;
  grid-row: 3;
}

.mold.three {
  grid-column: 5 / span 1;
  grid-row: 3;
}

.animal.three {
  grid-column: 6 / span 1;
  grid-row: 3;
}

.type.three {
  grid-column: 7 / span 1;
  grid-row: 3;
}

/* Result 4 */
.word.four {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.world.four {
  grid-column: 4 / span 1;
  grid-row: 4;
}

.mold.four {
  grid-column: 5 / span 1;
  grid-row: 4;
}

.animal.four {
  grid-column: 6 / span 1;
  grid-row: 4;
}

.type.four {
  grid-column: 7 / span 1;
  grid-row: 4;
}

/* Result 5 */
.word.five {
  grid-column: 1 / span 3;
  grid-row: 5;
}

.world.five {
  grid-column: 4 / span 1;
  grid-row: 5;
}

.mold.five {
  grid-column: 5 / span 1;
  grid-row: 5;
}

.animal.five {
  grid-column: 6 / span 1;
  grid-row: 5;
}

.type.five {
  grid-column: 7 / span 1;
  grid-row: 5;
}

/* Result 4 */
.word.six {
  grid-column: 1 / span 3;
  grid-row: 6;
}

.world.six {
  grid-column: 4 / span 1;
  grid-row: 6;
}

.mold.six {
  grid-column: 5 / span 1;
  grid-row: 6;
}

.animal.six {
  grid-column: 6 / span 1;
  grid-row: 6;
}

.type.six {
  grid-column: 7 / span 1;
  grid-row: 6;
}