/* Global Styles START */
html, body {
  overflow: hidden;
  font-family: "Poppins";
}

body {
  background-color: beige;
  margin: 0px;
}
/* Global Styles END */

/* Header Styles START */
header {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

h1 {
  font-family: 'Rubik Microbe', cursive;
  font-size: 37px;
  color: rgb(221, 178, 61);
  margin: 0px;
}


header p {
  margin: 8px;
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 24px;
  color: black;
}

header p:hover {
  color: rgb(221, 178, 61);
  cursor: pointer;
}

header ion-icon {
  margin-top: 3px;
}

#header-elements {
  display: flex;
  width: 500px;
  border-bottom: 1px solid #f4a942;
  justify-content: space-between;
  margin: 1px 5px 0 5px;
  align-items: center;
}

/* Header Styles END */

/* General Body Styles START */
#pageload {
  position: absolute;
  top: 0%;
  width: 100%;
  z-index: 20;
  background-color: beige;
  height: 100%;
}

.game-container {
  display: block;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cheese-image {
  width: 500px;
  height: 250px;
  background-position: center;
  background-size: cover;
  margin: 5px;
  margin-bottom: 0px;
  border-radius: 3px;
}

/* Results Section Styles START */
.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  width: 500px;
  height: 220px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

#grid-container p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#result-1, #result-2, #result-3, #result-4, #result-5, #result-6 {
  border-radius: 5px;
  background-color: rgb(221, 178, 61);
  opacity: 50%;
  
} 

#result-1 {
  grid-column: 1 / span 7;
  grid-row: 1;
  
}

#result-2 {
  grid-column: 1 / span 7;
  grid-row: 2;
}

#result-3 {
  grid-column: 1 / span 7;
  grid-row: 3;
}

#result-4 {
  grid-column: 1 / span 7;
  grid-row: 4;
}

#result-5 {
  grid-column: 1 / span 7;
  grid-row: 5;
}

#result-6 {
  grid-column: 1 / span 7;
  grid-row: 6;
}
/* Results Section Styles END */

/* Guess textfield and button styles START */
.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
}

#guess-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#guess-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Guess textfield and button styles END */

#correct-cheese-container {
  display: none;
  justify-content: center;
  align-items: center;
}

#correct-cheese {
  background-color: black;
  color: white;
  height: 32.5px;
  margin: 0 5px 5px 5px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

#correct-cheese:hover {
  background-color: rgb(94, 94, 94);
  cursor: pointer;
}

#correct-cheese:active {
  background-color: rgb(0, 0, 0);
}


#share-button {
  display: none;
  justify-content: center;
  align-items: center;
}

#share {
  margin: 0 5px 0 5px;
  width: 500px;
  background-color: green;
  border: 2px solid rgba(221, 178, 61, 0.5);
  box-sizing: border-box;
  color: white;
  font-size: 16px;
  font-weight: 600;
  border-radius: 3px;
}

#share:hover {
  background-color: rgb(0, 161, 0);
  cursor: pointer;
}

#share:active {
  background-color: green;
}

#button, #cheese-choice, #share, .correct-cheese {
  padding: 0px;
  height: 32.5px;
  font-size: 16px;
  font-family: "Poppins";
}

#cheese-choice {
  width: 491px;
  margin: 0px 5px 0 5px;
  font-size: 16px;
  padding-left: 5px;
  text-align: left;
  background-color: beige;
  border: 2px solid rgb(221, 178, 61);
  border-radius: 3px;
  height: 28.5px;
}

#button {
  margin: 5px 5px 0 5px;
  width: 500px;
  background-color: beige;
  border: 2px solid rgb(221, 178, 61);
  border-radius: 3px;
}

#button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

#button:active {
  background-color: rgb(221, 178, 61);
}

.close-btn {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
}

/* Styling for hidden results bars */

.word.active, .world.active, .mold.active, .animal.active, .type.active {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-right: 3px;
}

.word {
  border: 2px solid red;
}

.word, .mold, .animal, .type, .world {
  color: black;
  display: none;
  border-radius: 5px;
  background: rgba(221, 178, 61, 0.5);
}

#grid-container i {
  color: red;
}

.word.one {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.world.one {
  grid-column: 4 / span 1;
  grid-row: 1;
}

.mold.one {
  grid-column: 5 / span 1;
  grid-row: 1;
}

.animal.one {
  grid-column: 6 / span 1;
  grid-row: 1;
}

.type.one {
  grid-column: 7 / span 1;
  grid-row: 1;
}

/* Result 2 */
.word.two {
  grid-column: 1 / span 3;
  grid-row: 2;
}

.world.two {
  grid-column: 4 / span 1;
  grid-row: 2;
}

.mold.two {
  grid-column: 5 / span 1;
  grid-row: 2;
}

.animal.two {
  grid-column: 6 / span 1;
  grid-row: 2;
}

.type.two {
  grid-column: 7 / span 1;
  grid-row: 2;
}

/* Result 3 */
.word.three {
  grid-column: 1 / span 3;
  grid-row: 3;
}

.world.three {
  grid-column: 4 / span 1;
  grid-row: 3;
}

.mold.three {
  grid-column: 5 / span 1;
  grid-row: 3;
}

.animal.three {
  grid-column: 6 / span 1;
  grid-row: 3;
}

.type.three {
  grid-column: 7 / span 1;
  grid-row: 3;
}

/* Result 4 */
.word.four {
  grid-column: 1 / span 3;
  grid-row: 4;
}

.world.four {
  grid-column: 4 / span 1;
  grid-row: 4;
}

.mold.four {
  grid-column: 5 / span 1;
  grid-row: 4;
}

.animal.four {
  grid-column: 6 / span 1;
  grid-row: 4;
}

.type.four {
  grid-column: 7 / span 1;
  grid-row: 4;
}

/* Result 5 */
.word.five {
  grid-column: 1 / span 3;
  grid-row: 5;
}

.world.five {
  grid-column: 4 / span 1;
  grid-row: 5;
}

.mold.five {
  grid-column: 5 / span 1;
  grid-row: 5;
}

.animal.five {
  grid-column: 6 / span 1;
  grid-row: 5;
}

.type.five {
  grid-column: 7 / span 1;
  grid-row: 5;
}

/* Result 4 */
.word.six {
  grid-column: 1 / span 3;
  grid-row: 6;
}

.world.six {
  grid-column: 4 / span 1;
  grid-row: 6;
}

.mold.six {
  grid-column: 5 / span 1;
  grid-row: 6;
}

.animal.six {
  grid-column: 6 / span 1;
  grid-row: 6;
}

.type.six {
  grid-column: 7 / span 1;
  grid-row: 6;
}