html, body {
  overflow: hidden;
}

body {
  background-color: beige;
  margin: 0px;
}

header {
  display: flex;
  width: 100%;
  justify-content: space-around;
  border-bottom: 1px solid black;
}

h1 {
  font-family: 'Rubik Microbe', cursive;
  font-size: 37px;
  color: rgb(221, 178, 61);
  margin: 0px;
}


a {
  margin: auto;
  font-size: 24px;
  color: black;
}

a:hover {
  color: rgb(255, 206, 72);
}

/* Body */
.game-container {
  display: block;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-block {
  width: 494px;
  background-image: url(https://cdn.britannica.com/60/217660-050-DBCC409A/cheddar-cheese-wedge.jpg);
  height: 194px;
  background-position: center;
  background-size: cover;
  border: 3px solid black;
  margin: 5px;
}

.results {
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid-container {
  width: 500px;
  height: 300px;
  margin: 5px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 5px;
}

#result-1 {
  grid-column: 1 / span 7;
  grid-row: 1;
  background-color: grey;
}

#result-2 {
  grid-column: 1 / span 7;
  grid-row: 2;
  background-color: grey;
}

#result-3 {
  grid-column: 1 / span 7;
  grid-row: 3;
  background-color: grey;
}

#result-4 {
  grid-column: 1 / span 7;
  grid-row: 4;
  background-color: grey;
}

#result-5 {
  grid-column: 1 / span 7;
  grid-row: 5;
  background-color: grey;
}

#result-6 {
  grid-column: 1 / span 7;
  grid-row: 6;
  background-color: grey;
}

.guess {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50px;
}

#guess-textbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#guess-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#button {
  width: 500px;
  margin: 5px;
  padding: 0px;
}

#textbox {
  width: 496px;
  margin: 5px;
  padding: 0px;
}


