<!DOCTYPE html>
<html lang="en-au">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Curdle</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/popup.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Rubik+Microbe&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  
  
  <script type="text/javascript" src="../static/game.js"></script>
  <script type="text/javascript" src="../static/inputFunctions.js"></script>
  <script defer src="../static/popup.js"></script>
  <script src="https://kit.fontawesome.com/143356e028.js" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <p onclick="toggleHelp()">
      <ion-icon name="help-circle-outline"></ion-icon>
    </p>
    <h1>Curdle</h1>
    <p onclick="toggleStats()">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </p>
  </header>
  <section class="game-container">

    <section class="image">
      <div id="image-block"></div>
    </section>

    <section class="results">
      <div id="grid-container">
        <div id="result-1"></div>
        <div class="word one" id="word-1"></div>
        <div class="world one" id="world-1"></div>
        <div class="mold one" id="mold-1"></div>
        <div class="animal one" id="animal-1"></div>
        <div class="type one" id="type-1"></div>
        <div id="result-2"></div>
        <div class="word two" id="word-2"></div>
        <div class="world two" id="world-2"></div>
        <div class="mold two" id="mold-2"></div>
        <div class="animal two" id="animal-2"></div>
        <div class="type two" id="type-2"></div>
        <div id="result-3"></div>
        <div class="word three" id="word-3"></div>
        <div class="world three" id="world-3"></div>
        <div class="mold three" id="mold-3"></div>
        <div class="animal three" id="animal-3"></div>
        <div class="type three" id="type-3"></div>
        <div id="result-4"></div>
        <div class="word four" id="word-4"></div>
        <div class="world four" id="world-4"></div>
        <div class="mold four" id="mold-4"></div>
        <div class="animal four" id="animal-4"></div>
        <div class="type four" id="type-4"></div>
        <div id="result-5"></div>
        <div class="word five" id="word-5"></div>
        <div class="world five" id="world-5"></div>
        <div class="mold five" id="mold-5"></div>
        <div class="animal five" id="animal-5"></div>
        <div class="type five" id="type-5"></div>
        <div id="result-6"></div>
        <div class="word six" id="word-6"></div>
        <div class="world six" id="world-6"></div>
        <div class="mold six" id="mold-6"></div>
        <div class="animal six" id="animal-6"></div>
        <div class="type six" id="type-6"></div>
      </div>
    </section>

    <section class="guess-container">
      <div id="guess-textbox">
        <input list="cheese-names" id="cheese-choice" name="cheese-choice" />
        <datalist id="cheese-names">
          <option value="Cheddar">
          <option value="Camembert">
          <option value="Parmesan">
          <option value="Red Leicester">
          <option value="Blue Cheese">
        </datalist>
      </div>

      <div id="guess-button">
        <button data-modal-target="#modal" id="button" type="submit" onclick="entryTest()">GUESS</button>

      </div>

    </section>
  </section>

  <div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class ="content">
      <div class="close-btn" onclick="togglePopup()">&times;</div>
      <h2>Please enter a valid cheese!</h2>
      <p>See the drop down menu for a list.</p>
      </div>
    </div>
  </div>
  <div class="popup" id="popup-2">
    <div class="overlay"></div>
    <div class ="content">
      <div class="close-btn" onclick="toggleHelp()">&times;</div>
      <h2>Help</h2>
      <p>Enter a guess...</p>
      </div>
    </div>
  </div>
  <div class="popup" id="popup-3">
    <div class="overlay"></div>
    <div class ="content">
      <div class="close-btn" onclick="toggleStats()">&times;</div>
      <h2>Statistics</h2>
      <p>You have scored...</p>
      </div>
    </div>
  </div>
</body>

</html>