<!DOCTYPE html>
<html lang="en-au">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Curdle</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Rubik+Microbe&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script type="text/javascript" src="../static/game.js"></script>
  <script type="text/javascript" src="../static/inputFunctions.js"></script>
</head>

<body>
  <header>
    <a href="">
      <ion-icon name="help-circle-outline"></ion-icon>
    </a>
    <h1>Curdle</h1>
    <a href="">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </a>
  </header>
  <section class="game-container">

    <section class="image">
      <div id="image-block"></div>
    </section>

    <section class="results">
      <div id="grid-container">
        <div id="result-1"></div>
        <div id="result-2"></div>
        <div id="result-3"></div>
        <div id="result-4"></div>
        <div id="result-5"></div>
        <div id="result-6"></div>
      </div>
    </section>

    <section class="guess-container">
      <div id="guess-textbox">
        <input list="cheese-names" id="cheese-choice" name="cheese-choice" />
        <datalist id="cheese-names">
          <option value="Cheddar">
          <option value="Camembert">
          <option value="Parmesan">
          <option value="Red Leicester">
          <option value="Blue Cheese">
        </datalist>
      </div>
      <form>
        <div id="guess-button">
          <button id="button" type="submit" onclick="removeText()">GUESS</button>
        </div>
    </form>
    </section>
  </section>
</body>

</html>