<!DOCTYPE html>
<html lang="en-au">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>CURDLE</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/popup.css">
  <link rel="stylesheet" href="../static/help.css">
  <link rel="stylesheet" href="../static/stats.css">
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&family=Rubik+Microbe&display=swap"
    rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;800&display=swap" rel="stylesheet">

  <script type="text/javascript" src="../static/game.js"></script>
  <script type="text/javascript" src="../static/local_storage.js"></script>
  <script type="text/javascript" src="../static/inputFunctions.js"></script>
  <script defer src="../static/popup.js"></script>
  <script src="https://kit.fontawesome.com/143356e028.js" crossorigin="anonymous"></script>
</head>

{% block content %}{% endblock %}

</html>