{% extends "base.html" %}

  {% block content %}

  <body onload="storeCheeseList(), getPuzzleID(), userVisited(), loadUser()">
    <div id = "pageload"></div>
    <header>
      <div id="header-elements">
      <p onclick="toggleHelp()">
        <ion-icon name="help-circle-outline"></ion-icon>
      </p>
      <h1>CURDLE</h1>
      <p onclick="toggleStats()">
        <ion-icon name="stats-chart-outline"></ion-icon>
      </p>
    </header>
    </div>
  <section class="game-container">

    <section class="image">
      {% block cheese_image %}
      <!-- Ignore error here code works fine. -->
      <div id="cheese-image" style="background-image: url('{{ url_for('static', filename=image ) }}')"></div>
      {% endblock %}
    </section>


    <section class="results">
      <div id="grid-container">
        <div id="result-1"></div>
        <div class="word one" id="word-1"></div>
        <div class="world one" id="world-1"></div>
        <div class="mold one" id="mold-1"></div>
        <div class="animal one" id="animal-1"></div>
        <div class="type one" id="type-1"></div>
        <div id="result-2"></div>
        <div class="word two" id="word-2"></div>
        <div class="world two" id="world-2"></div>
        <div class="mold two" id="mold-2"></div>
        <div class="animal two" id="animal-2"></div>
        <div class="type two" id="type-2"></div>
        <div id="result-3"></div>
        <div class="word three" id="word-3"></div>
        <div class="world three" id="world-3"></div>
        <div class="mold three" id="mold-3"></div>
        <div class="animal three" id="animal-3"></div>
        <div class="type three" id="type-3"></div>
        <div id="result-4"></div>
        <div class="word four" id="word-4"></div>
        <div class="world four" id="world-4"></div>
        <div class="mold four" id="mold-4"></div>
        <div class="animal four" id="animal-4"></div>
        <div class="type four" id="type-4"></div>
        <div id="result-5"></div>
        <div class="word five" id="word-5"></div>
        <div class="world five" id="world-5"></div>
        <div class="mold five" id="mold-5"></div>
        <div class="animal five" id="animal-5"></div>
        <div class="type five" id="type-5"></div>
        <div id="result-6"></div>
        <div class="word six" id="word-6"></div>
        <div class="world six" id="world-6"></div>
        <div class="mold six" id="mold-6"></div>
        <div class="animal six" id="animal-6"></div>
        <div class="type six" id="type-6"></div>
      </div>
    </section>

    <section class="guess-container">
      <div id="guess-textbox">
        <input list="cheese-names" id="cheese-choice" name="cheese-choice" placeholder="Type cheese guess here..." onkeydown="search()"/>
        <datalist id="cheese-names">
          {% for cheese in cheeses %}
          <option value="{{ cheese }}">
            {% endfor %}
        </datalist>
      </div>

      <div id="guess-button">
        <button id="button" type="submit" onclick="entryTest(document.getElementById('cheese-choice').value)"><i style="color: rgb(153 153 0);" class="fas fa-cheese"></i> SUBMIT</button>
      </div>

      <div id="correct-cheese-container" onclick="toggleCheese()">
        <div id="correct-cheese"><p id="correct-cheese-text">Cheddar</p></div>
      </div>

      </div>

      <div id="share-button">
        <button id="share" onclick="clipboard()">SHARE</button>
      </div>

    </section>
  </section>

  


  <div class="help" id="help-page">
    <div class="overlay"></div>
    <div class="content">
      <div class="close-btn" onclick="toggleHelp()">&times;</div>
      <h2>HOW TO PLAY</h2>
      <p>Guess the CURDLE in 6 guesses from the image shown.</p>
      <p>Type your guess in the box. Each guess must be a valid cheese, see the dropdown menu.</p>
      <p>After you submit your guess, your submission will appear surrounded by a border (green if correct, red if incorrect).</p>
        
      <p>Icons will also appear indicating if your guess shares the same region (<i style="color: orange" class="fa fa-globe"></i>),
        country (<i style="color: green" class="fa fa-globe"></i>), and animal of oirign (<i style="color: green" class="fa-solid fa-paw"></i>) with the answer. 
        As well as it's mold content (<i style="color: green" class="fa-solid fa-bacteria"></i>), and type (<i style="color: green" class="fas fa-cheese"></i>). These attributes are explained below.</p>
        
      <p>Icons will appear red (<i style="color: red" class="fas fa-cheese"></i>) if your guess and the answer do not share the attribute. For example if your guess uses cow products, and the answer uses goat products
      the icon will appear red (<i style="color: red" class="fa-solid fa-paw"></i>).</p>

      <p>If you succeed or fail to get the cheese it will be revealed in a black box below your guesses. Click the box for information on the cheese! 😀</p>
      <h3>EXAMPLES</h3>
      <div id="grid-container-e1">
        <div class="word e" id="word-e"><p>Cheddar</p></div>
        <div class="world e" id="world-e"><i style="color: orange" class="fa fa-globe"></i></div>
        <div class="mold e" id="mold-e"><i style="color: green" class="fa-solid fa-bacteria"></i></div>
        <div class="animal e" id="animal-e"><i style="color: red" class="fa-solid fa-paw"></i></div>
        <div class="type e" id="type-e"><i style="color: red" class="fas fa-cheese"></i></div>
      </div>
      <p>The cheese is incorrect (red border), region of origin is consistent (<i style="color: orange" class="fa fa-globe"></i>), 
        mold content is consistent (<i style="color: green" class="fa-solid fa-bacteria"></i>), animal is different (<i style="color: red" class="fa-solid fa-paw"></i>), and the cheese type is different (<i style="color: red" class="fas fa-cheese"></i>).</p>
      <div id="grid-container-e2">
        <div class="word e" id="word-e"><p>Cheddar</p></div>
        <div class="world e" id="world-e"><i style="color: green" class="fa fa-globe"></i></div>
        <div class="mold e" id="mold-e"><i style="color: red" class="fa-solid fa-bacteria"></i></div>
        <div class="animal e" id="animal-e"><i style="color: red" class="fa-solid fa-paw"></i></div>
        <div class="type e" id="type-e"><i style="color: red" class="fas fa-cheese"></i></div>
      </div>
      <p>Only the region and country of origin of your guess is consistent with the correct answer.</p>
      <div id="grid-container-e3">
        <div class="word e" id="word-e" style="border: 2px solid green"><p>Cheddar</p></div>
        <div class="world e" id="world-e"><i style="color: green" class="fa fa-globe"></i></div>
        <div class="mold e" id="mold-e"><i style="color: green" class="fa-solid fa-bacteria"></i></div>
        <div class="animal e" id="animal-e"><i style="color: green" class="fa-solid fa-paw"></i></div>
        <div class="type e" id="type-e"><i style="color: green" class="fas fa-cheese"></i></div>
      </div>
      <p>You have guessed the correct cheese.</p>
      <h3>ATTRIBUTES EXPLAINED</h3>
      <p><span style="font-weight: bold">Region</span> of origin: The region in which the cheese originated (Africa, Asia, Europe, Middle East, North and Central America, Oceania or South America).</p>
      <p><span style="font-weight: bold">Country</span> of origin: The country in which the cheese originated (UN recognized).</p>
      <p><span style="font-weight: bold">Mold</span> content: Do your guess and the answer both contain mold. For example Blue cheese contains mold.</p>
      <p><span style="font-weight: bold">Animal</span> of origin: Does your guess share the same animal of origin with the answer. Can be either cow, sheep, goat or moose.</p>
      <p><span style="font-weight: bold">Type</span> of cheese: Does your guess fall into one of these types along with the answer: fresh, soft, semi-hard, hard, blue or processed.</p>
      <p style="font-weight:600; text-align: center; margin: 16px;">A new CURDLE will be available each day!</p>
    </div>
  </div>


  <div class="stats" id="stats-page">
    <div class="content">
      <div class="close-btn" onclick="toggleStats()">&times;</div>
      <h2>Statistics</h2>
      <div id="statistics">
        <div id="played">
          <p id ="played_text"></p>
          <p class="statName">Played</p>
        </div>
        <div id="winrate">
          <p id ="winrate_text"></p>
          <p class="statName">Win %</p>
        </div>
        <div id="streak">
          <p id ="streak_text"></p>
          <p class="statName">Current Streak</p>
        </div>
        <div id="best-streak">
          <p id ="best_text"></p>
          <p class="statName">Max Streak</p>
        </div>
      </div>
      <h3>Guess Distribution:</h3>
      <div id="distribution-container">
        <div class="dist one">
          <p>1</p>
          <div class="bar" id="bar1"><p></p></div>
        </div>
        <div class="dist two">
          <p>2</p>
          <div class="bar" id="bar2"><p></p></div>
        </div>
        <div class="dist three">
          <p>3</p>
          <div class="bar" id="bar3"><p></p></div>
        </div>
        <div class="dist four">
          <p>4</p>
          <div class="bar" id="bar4"><p></p></div>
        </div>
        <div class="dist five">
          <p>5</p>
          <div class="bar" id="bar5"><p></p></div>
        </div>
        <div class="dist six">
          <p>6</p>
          <div class="bar" id="bar6"><p></p></div>
        </div>
      </div>
      <p style="font-weight: bold; font-size:14px">Now that's an impressive record!</p>
    </div>
  </div>

  <div class="popup" id="invalid-pop">
    <div class="overlay" onclick="toggleInvalid()"></div>
    <div class="content">
      <div class="close-btn" onclick="toggleInvalid()">&times;</div>
      <ion-icon name="alert-circle-outline" style="color: red"></ion-icon>
        <p style="font-size: 16px">Not a valid cheese!</p>
    </div>
  </div>

  <div class="popup" id="congrats-pop">
    <div class="overlay" onclick="toggleCongrats()"></div>
    <div class="content">
      <div class="close-btn" onclick="toggleCongrats()">&times;</div>
      <p>🥂 Congratulations! 🥂</p>
    </div>
  </div>

  <div class="popup" id="fail-pop">
    <div class="overlay" onclick="toggleFail()"></div>
    <div class="content">
      <div class="close-btn" onclick="toggleFail()">&times;</div>
      <p>Try again tomorrow! 😀</p>
    </div>
  </div>

  <div class="popup" id="cheese-pop">
    <div class="overlay" onclick="toggleCheese()"></div>
    <div class="content">
      <div class="close-btn" onclick="toggleCheese()">&times;</div>
      <h3 id="answer-name">Cheddar</h3>
      <p id="answer-region"></p>
      <p id="answer-country"></p>
      <p id="answer-mould"></p>
      <p id="answer-animal"></p>
      <p id="answer-type"></p>
      <p>Find the image and extra info <a id="reference" href="" target="_blank">HERE</a></p>
    </div>
  </div>

  </body>

{% endblock %}