{% extends "base.html" %}

{% block content %}

<body class="admin_body">
  <header>
    <p>
      <a href="/index"><ion-icon name="arrow-back-circle-outline" color="dark"></ion-icon></a>
    </p>
    <h1>CURDLE</h1>
    <p>
      <a href="https://github.com/warrun/curdle"><ion-icon name="logo-github" color="dark"></ion-icon></a>
    </p>
  </header>
  <h2>Administration Portal</h2>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
      {% for error in form.password.errors %}
      <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
    </form>
</body>
{% endblock %}